* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$color1: blueviolet;

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

    .oferta {
        padding: 12px;
        height: auto;
        background-color: $color1;
        color: black;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        
    }

.titulonav {
    color: $color1 !important;
}

#menu {

    a {
        font-size: 16px;
        font-weight: bold;
        color: black;
    }

    .buttonnav {
        font-size: 16px;
        font-weight: bold;
        color: $color1 !important;
    }

}

main {
    .contenido {
        max-width: 1100px;
        width: 100%;
        margin: 40px auto;
        display: flex;

        .mostrador {
            width: 100%;

            .fila {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;

                .item {
                    max-width: 210px;
                    padding: 30px;
                    height: 250px;
                    text-align: center;
                    margin: 0 10px;
                    cursor: pointer;
                    border-radius: 5px;

                    .precio {
                        color: $color1;
                        font-weight: bold;
                        font-size: 20px;
                    }
                }

                img {
                    width: 100%;
                    margin: 30px 0;
                }
            }

            .descripcion {
                color: black;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

.mostrador .fila .item:hover {
    background-color: #e6e6e6;
}

#contendor-formulario {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color1;
    border-radius: 5px;
    max-width: 500px;
}

.btn-color {
    background-color: $color1;
}

footer {
    background-color: $color1;
    min-height: 100px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

    p {
        color: black;
        text-align: center;
        text-transform: uppercase;
    }

    #iconos {

        i {
            font-size: 26px;
            padding: 0 8px;
            color: #f3f3f3;
        }
    }
}

#map-container {
    justify-content: center;
    margin-left: 450px;
    text-align: center;
    width: 100%;
    max-width: 800px;
    background-color: #fff;

    .maptitulo {
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 30px;
    }

    .mapparrafo {
        font-size: 15px;
        color: black;
        font-weight: bold;
        text-align: center;
    }
}

.nosotros {
    .quienessomos{
        height: 20px;
        width:auto;
        color:$color1;
        text-align:center;
        font-size:40px;
    } 

    p{
        margin-top: 30px;
        color: black;
        font-size: 20px;
        text-align: center;
    }

    .cuandosecreo{
        margin-top: 50px;
        height: 20px;
        width:auto;
        color:$color1;
        text-align:center;
        font-size:40px;
    }
}

.mainpreguntasfreq{
    .preguntasfreq{
        margin-top: 15px;
        font-size: 25px;
        color: black;
        text-align: center;
        text-transform: uppercase;
    }

    .p2{
        font-size: 16px;
        color: black;
        text-align: center;
        text-transform: uppercase;
    }

    .subpreguntas{
        h2{
            margin-top: 30px;
        font-size: 25px;
        color: black;
        text-align: center;
        text-transform: uppercase;
        }

        .p3{
            font-size: 16px;
            color: black;
            text-align: center;
            text-transform: uppercase;
        }
    }
}